<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CustomPaymentLarry
 * @author     Extension Team
 * @copyright  Copyright (c) 2021 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */

/**
 * @var $block \Bss\CustomPaymentLarry\Block\Info
 */
?>
<dl class="payment-method purchase order">
    <dt class="title"><?= $block->escapeHtml($block->getMethod()->getTitle()) ?></dt>
    <dd class="content">
        <strong><?= $block->escapeHtml(__('Card Number')) ?></strong>
        <span class="number"><?= $block->escapeHtml($block->getInfo()->getAdditionalInformation("bss_card_number")) ?></span>
    </dd>
    <dd class="content">
        <strong><?= $block->escapeHtml(__('Card Expiry')) ?></strong>
        <span class="number"><?= $block->escapeHtml($block->getInfo()->getAdditionalInformation("bss_card_expiry")) ?></span>
    </dd>
</dl>
