<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CustomPaymentLarry
 * @author     Extension Team
 * @copyright  Copyright (c) 2021 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <form id="bss_custom_payment_form" class="form form-purchase-order" data-role="bss_custom_payment_form">

            <fieldset class="fieldset payment method">
                <div class="field required">
                    <label for="bss_card_number" class="label">
                        <span><!-- ko i18n: 'Card Number'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="number"
                               step="1"
                               minlength="4"
                               maxlength="4"
                               id="bss_card_number"
                               name="payment[bss_card_number]"
                               data-validate="{required:true}"
                               placeholder="4 last digits"
                               data-bind='
                                attr: {title: $t("Card Number")},
                                value: bssCardNumber'
                               class="input-text"/>
                    </div>
                </div>
            </fieldset>
                <fieldset class="fieldset payment method">
                    <div class="field required">
                        <label for="bss_card_expiry" class="label">
                            <span><!-- ko i18n: 'Card Expiry'--><!-- /ko --></span>
                        </label>
                        <div class="control">
                            <input type="text"
                                   id="bss_card_expiry"
                                   name="payment[bss_card_expiry]"
                                   placeholder="mm/yyyy"
                                   data-validate="{required:true}"
                                   pattern="(0[1-9]|1[0-2])\/(20)\d{2}"
                                   data-bind='
                                attr: {title: $t("Bss Card Expiry")},
                                value: bssCardExpiry'
                                   class="input-text"/>
                        </div>
                    </div>

            </fieldset>
            <div class="actions-toolbar">
                <div class="primary">
                    <button class="action primary checkout"
                            type="submit"
                            data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')}
                        ">
                        <span data-bind="i18n: 'Place Order'"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
