<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CustomPaymentLarry
 * @author     Extension Team
 * @copyright  Copyright (c) 2021 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */

/**
 * @var $block \Bss\CustomPaymentLarry\Block\Info
 */
$paymentTitle = $block->getMethod()->getConfigData('title', $block->getInfo()->getOrder()->getStoreId());
?>
<div class="order-payment-method-name"><?= $block->escapeHtml($paymentTitle) ?></div>
<table class="data-table admin__table-secondary">
    <tr>
        <th><?= $block->escapeHtml(__('Card Number')) ?>:</th>
        <td><?= $block->escapeHtml($block->getInfo()->getAdditionalInformation("bss_card_number")) ?></td>
    </tr>
    <tr>
        <th><?= $block->escapeHtml(__('Card Expiry')) ?>:</th>
        <td><?= $block->escapeHtml($block->getInfo()->getAdditionalInformation("bss_card_expiry")) ?></td>
    </tr>
</table>
